.Nadpisi_Form{

}
.osnova{
    display: grid;
    grid-template-columns: repeat(2,200px);
    width: 400px;
    BACKGROUND: #86837d;
    margin: auto;
    margin-top: 7%;
    border-radius: 5%;
    padding: 10px;
    border: 3px solid #a9a1a1;
}
#send{
	grid-column:span 2;
}
#aligned1, #aligned2{
	display:inline-block;
	background:white;
	border:1px solid gainsboro;
	border-radius:3px;
	width:100px;
	height:30px;
	margin:10px 0px 0px 150px;
}
#aligned1:disabled, #aligned2:disabled{
	background:silver;
	color:white;
}
p{
	font-family:sans-serif;
}
.info{
	display:inline-block;
	margin:5px 0px;
}
.texting{
  display: block;
  margin: 18px 0px;
  BACKGROUND: #c3c4bd;
  width: 200px;
}
#infodown{
	margin-top:227px;
}
.redown{
  margin-top: 10%;
}
.upside{
  margin-top: 0px;
  margin-bottom: 7%;
}
.downside{
	margin-bottom:10px;
}
.Button_Vib_order {
    display: inline-block;
    margin-left: 75%;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgb(255 255 255 / 20%), 0 -1px rgb(0 0 0 / 80%);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(151 150 149) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgb(164 112 112 / 60%) 0 -2px 5px, inset rgb(247 255 183 / 70%) 0 2px 5px, rgb(90 82 64 / 80%) 0 2px 5px -1px;
    color: rgb(255 255 255);
    user-select: none;
}
  .Views_But{
  
  } 
  .Button_Vib_order:hover {
	color: rgb(0,59,66);
	cursor: pointer;
  }
  .Button_Vib_order:active {
	padding-bottom: 1px;
	box-shadow:
	 inset rgba(0,0,0,1) 0 1px 3px,
	 inset rgba(0,0,0,.6) 0 -2px 5px,
	 inset rgba(252,255,255,.7) 0 2px 5px,
	 0 1px rgba(255,255,255,.08);
	color: rgb(230, 194, 96);
  }