/*-------------
	Layout
--------------*/

html{
  background-color: #4a4a4a;
}
body{
  padding: 8;
  margin: 0;
  padding-top: 70px;
  height: 100%;
  font: 400 15px/1.4 'Open Sans',sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a{
  color:#fff;
  text-decoration: none;
  font-size: 1.5em;
  margin: 10px;
}

.Color_Opis{
color: #fff;
}
/*-------------
	Header
--------------*/
.droppng {
    width: 50px;
    height: 50px;
    margin-left: 268px;
    margin-top: -54px;
    background-color: #3a3a3a;
    color: #765555;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.droppng:hover, .droppng:focus {
  background-color: #31383c;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: 56%;
  margin-top: -4%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.logoDiv {
  width: 50%;
  margin-left: -7%;
}
.PersonDiv{
  margin-right: -2%;
}

.header {
  height: 70px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: #3a3a3a;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
  padding: 15px 0;
  z-index: 100;
  -webkit-box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
  box-shadow: 0 5px 25px rgb(0 0 0 / 15%);
  }

  .header__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_fixed {
    position: fixed;
    left: 0;
    top: 0;
  }
  .header__web{
    position: relative;
    margin-right: 10%;
    margin-top: -8%;
    margin-left: 10%;
  }
  .users__content{
    positioN: relative;
    width: auto;
    margin-top: 2%;
  }
  .header__contents{
    position: relative;
    margin-left: 105%;
    margin-top: -29%;
  }
  .header__contacts{
    background-color: black;
  }
  /*--------------------
	Main Content
--------------------*/
.main{
  margin-top: 6%;
  margin-bottom: 1%;
  margin-left: 6%;
  margin-right: 0%;
  flex: 1 0 auto;
  width: auto;
  background-color: #4a4a4a;
}
#pageContent {
	z-index: 99;
	background: rgb(0, 0, 0);
}
.rek{
  padding: 5px;
  width: 170px;
  height: 230px;
  margin: 2px;
  display:inline-block;
  padding-bottom: 10px;
  border-radius: 3px;
  }
  .rek_name{
  width: 170px;
  text-align: center;
  }
  #pageContent {
  margin: 70px 0px;
  }
  img{
  border-radius: 5px;
  padding: 2px;
  }
  .main nav{
  background-color: 292c2f;
  }
  .block{
    background-color: #52523c;
    width: 100%;
    height: 1500px;
    top: 5%;
    padding-left: 5%;
    padding-right: 4%;
    position: relative;
  }
  .updated_manga{
    background-color: red;
    margin-left: -3%;
    width: 60%;
    height: 600px;
    top: 0;
    left: 0;
    position: absolute;
  }
  .new_manga{
    background-color: blue;
    right: 0;
    top: 0;
    margin-right: 8%;
    width: 35%;
    height: 300px;
    position: absolute;
  }
  .popular_today{
    background-color: purple;
    width: 35%;
    margin-right: 8%;
    height: 300px;
    top: 300;
    right: 0;
    position: absolute;
  }
  /*--------------------
	Main top
--------------------*/
.Manga{
  padding: 10px;
  width: 121px;
  margin: 2px;
  display: inline-block;
  background-color: #4f4f4f;
}
.Top{
  padding-left: 5px;
  margin-top: 2%;
  margin-bottom: -7%;
  display: flex;
  align-items: center;
}
.Top_title{
  font-size: 2.5em;
  color: white;
  font-style: oblique;
}
.Nomer_Block{
  color: #8a8a8a;
  margin-top: -6%;
}
.Buttons{
  margin-bottom: 2%;
  margin-top: -2px;
  margin-left: -8px;
  display: flex;
}
.Button_Vib{
  display: inline-block;
  margin-left: 5%;
  margin-top: 9px;
  width: 100px;
  height: 50px;
  line-height: 48px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgb(255 255 255 / 20%), 0 -1px rgb(0 0 0 / 80%);
  outline: none;
  border: none;
  border-radius: 100px;
  background: rgb(151 150 149) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgb(164 112 112 / 60%) 0 -2px 5px, inset rgb(247 255 183 / 70%) 0 2px 5px, rgb(90 82 64 / 80%) 0 2px 5px -1px;
  color: rgb(255 255 255);
  user-select: none;
}
.Views_But{

}
.Button_Vib:hover {
  color: rgb(0,59,66);
  cursor: pointer;
}
.Button_Vib:active {
  padding-bottom: 1px;
  box-shadow:
   inset rgba(0,0,0,1) 0 1px 3px,
   inset rgba(0,0,0,.6) 0 -2px 5px,
   inset rgba(252,255,255,.7) 0 2px 5px,
   0 1px rgba(255,255,255,.08);
  color: rgb(230, 194, 96);
}
/*--------------------
	Footer styles
--------------------*/

footer{
    background-color: #3a3a3a;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
    width: 104%;
    text-align: left;
    font: normal 16px sans-serif;
    flex: 0 0 auto;
    padding: 10px 11px;
    margin-left: -5%;
}

footer .footer-limiter {
	max-width: 880px;
	margin: 0 auto;
}

footer .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

footer p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

footer p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 200px;
}

footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}
@media (max-width: 600px) {

	footer .footer-left,
	footer .footer-right{
		text-align: center;
	}

	footer .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	footer .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* ------- Demo adds. Please ignore and remove ------- */

#bsaHolder{
	top: 100px !important;
}

@media (max-width: 1200px) {
    #bsaHolder{ 
    	display:none;
    }
}