.Dialog{
    display: grid;
    grid-template-columns: repeat(2,200px);
    width: 400px;
    BACKGROUND: #86837d;
    margin: auto;
    margin-top: 7%;
    border-radius: 5%;
    padding: 10px;
    border: 3px solid #a9a1a1;
}
p{
	font-family:sans-serif;
}
.str2{
    font-family: sans-serif;
    margin-top: -17px;
}
.str{
    font-family: sans-serif;
    width: 180%;
    margin-left: 38px;
    MARGIN-TOP: -11px;
}
.Button_Vib{
    display: inline-block;
    margin-left: 57%;
    margin-top: 9px;
    width: 100px;
    height: 50px;
    line-height: 48px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgb(255 255 255 / 20%), 0 -1px rgb(0 0 0 / 80%);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(151 150 149) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
    box-shadow: inset rgb(164 112 112 / 60%) 0 -2px 5px, inset rgb(247 255 183 / 70%) 0 2px 5px, rgb(90 82 64 / 80%) 0 2px 5px -1px;
    color: rgb(255 255 255);
    user-select: none;
}
  .Button_Vib:hover {
	color: rgb(0,59,66);
	cursor: pointer;
  }
  .Button_Vib:active {
	padding-bottom: 1px;
	box-shadow:
	 inset rgba(0,0,0,1) 0 1px 3px,
	 inset rgba(0,0,0,.6) 0 -2px 5px,
	 inset rgba(252,255,255,.7) 0 2px 5px,
	 0 1px rgba(255,255,255,.08);
	color: rgb(230, 194, 96);
  }
  .Input{
    display: block;
    /* margin: 18px 0px; */
    BACKGROUND: #c3c4bd;
    width: 200px;
  }
  .Derj{
    width: 151%;
    margin-left: 5px;
  }
  .jform{
    margin-left: -33px;
  }
  .Osn{
    margin-left: 55%;
  }
  .str3{
    width: 217px;
    margin-left: -15px;
    font-size: 20px;
    margin-top: -2px;
    margin-bottom: 12px;
  }
  .ssilka1{
    margin-left: 8px;
    color: #fffd95;
    text-decoration: none;
    font-size: 13px;
    margin: 67px;
  }
  .Otstup{
    padding: 6px;
    margin-top: -3px;
    margin-left: 10px;
  }