body {
  /* Убираю отступы. */
  margin:0px;
  /* Убираю еще отступы. */
  padding:0px;
  /* Задаю шрифт. */
  font: 14px 'Verdana';
}
ul {
  /* Убираю маркеры у списка*/
  list-style: none;
  /* Делаю элементы блочными. */
  display: block;
  /* Убираю отступы. */
  margin:0px;
  /* Убираю еще отступы! */
  padding:0px;
}
ul:after {
  /* Делаю элементы блочными. */
  display: block;
  /* Убираю выравнивание. */
  float: none;
  content: ' ';
  clear: both;
}
ul.mmenuu > li {
  /* Задаю выравнивание и позиционирование. */
  float: left;
  /* Считаем координаты относительно исходного места*/
  position: relative;
}
ul.mmenuu > li > a {
  /* Делаю элементы блочными: */
  display: block;
  /* Задаю белый цвет. */
  color: #fff;
  /* Задаю отступ 10px. */
  padding: 10px;
  /* Убираю форматирование*/
  text-decoration: none;
  /* Задаю цвет. */
  background-color: #da570f;
}
ul.mmenuu > li > a:hover {
  /* Задаю цвет при наведении. */
  background-color: #eb9316;
}
ul.ssubmenuu {
  position: absolute;
  width: 240px;
  top: 37px;
  left:0px;
  /* Делаю субменю скрытыми. */
  display: none;
  /* Цвет — белый. */
  background-color: white;
}
ul.ssubmenuu > li {
  /* Блочное расположение элементов*/
  display: block;
}
ul.ssubmenuu > li > a {
  /* Делаю элементы блочными. */
  display: block;
  /* Убираю форматирование*/
  text-decoration: none;
  /* Задаю отступ. */
  padding: 10px;
  /* Задаю цвет. */
  color: #ffffff;
  /* Еще цвет. */
  background-color: #da570f;
}
ul.ssubmenuu > li > a:hover {
  /* Цвет бэкграунда при наведении. */
  background-color: #eb9316;
  /* Задаю подчеркивание*/
  text-decoration: underline;
}
ul.mmenuu > li:hover > ul.ssubmenuu {
  /* Делаю элементы блочными. */
  display: block;
}